<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>动永网络</title>
    <link rel="stylesheet" href="../../assets/js/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../assets/css/pro001.css">

    <script src="../../assets/js/jquery-3.2.1.js"></script>
    <script src="../../assets/js/bootstrap/js/bootstrap.js"></script>
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/js/vue-router.js"></script>
    <script src="../../assets/js/pro001/pro001-common.js"></script>

</head>
<body>
<div id="app">

    <web-header></web-header>

    <div class="container">
        <router-view></router-view>
    </div>

    <web-footer></web-footer>
</div>

<script src="index.js"></script>

</body>
</html>